output/events.out.tfevents.1625274692.SITA.23778.7 filter=lfs diff=lfs merge=lfs -text
output/events.out.tfevents.1625274776.SITA.23778.9 filter=lfs diff=lfs merge=lfs -text
output/events.out.tfevents.1625275690.SITA.16121.0 filter=lfs diff=lfs merge=lfs -text
output/events.out.tfevents.1625284107.SITA.19340.0 filter=lfs diff=lfs merge=lfs -text
output/events.out.tfevents.1625495690.SITA.18744.0 filter=lfs diff=lfs merge=lfs -text
output/last_checkpoint filter=lfs diff=lfs merge=lfs -text
output/model_final.pth filter=lfs diff=lfs merge=lfs -text
output/events.out.tfevents.1625273388.SITA.23778.0 filter=lfs diff=lfs merge=lfs -text
output/events.out.tfevents.1625274614.SITA.23778.4 filter=lfs diff=lfs merge=lfs -text
output/events.out.tfevents.1625274638.SITA.23778.5 filter=lfs diff=lfs merge=lfs -text
output/events.out.tfevents.1625274732.SITA.23778.8 filter=lfs diff=lfs merge=lfs -text
output/events.out.tfevents.1625275665.SITA.15855.0 filter=lfs diff=lfs merge=lfs -text
output/metrics.json filter=lfs diff=lfs merge=lfs -text
output/events.out.tfevents.1625274583.SITA.23778.3 filter=lfs diff=lfs merge=lfs -text
output/events.out.tfevents.1625274668.SITA.23778.6 filter=lfs diff=lfs merge=lfs -text
output/events.out.tfevents.1625323989.SITA.31289.0 filter=lfs diff=lfs merge=lfs -text
output/events.out.tfevents.1625494842.SITA.18278.0 filter=lfs diff=lfs merge=lfs -text
output/events.out.tfevents.1625494875.SITA.18374.0 filter=lfs diff=lfs merge=lfs -text
output/model_0004999.pth filter=lfs diff=lfs merge=lfs -text
output/model_0009999.pth filter=lfs diff=lfs merge=lfs -text
output/events.out.tfevents.1625274472.SITA.23778.1 filter=lfs diff=lfs merge=lfs -text
output/events.out.tfevents.1625274566.SITA.23778.2 filter=lfs diff=lfs merge=lfs -text
